* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  background: #ffffff;
  text-decoration: none;
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2, sans-serif;
}

a:link {
  text-decoration: none;
  color: #00AEEF;
}

a:hover {
  text-decoration: none;
  color: #00AEEF;
}

a:active {
  text-decoration: none;
  color: #00AEEF;
}

a:visited {
  text-decoration: none;
  color: #00AEEF;
}

#wrapper {
  width: 96%; 
  max-width: 1300px;
  margin: auto;
}


.mix{
  display: none;
}

.clearfix, .filters {
  overflow: auto;
  width: 100%;
}




/*Top Nav*/

header {
  margin-bottom: 0px;
}

header h1 {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2, sans-serif;
  height: 30px;
  float: left;
  display: inline;
  font-size: 1.3em;
  padding: 0px;
  margin-right: 65px;
  margin-bottom: 0px;
  color: #00AEEF;
}

header nav {
  float: left;
}

header nav ul {
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
}

header nav li {
  margin-top: 14px;
  font-size: 1.3em;
  display: inline;
  margin-right: 20px;
  margin-bottom: 0px;
}

header nav li a:link {
  color: #ABA399;
}

header nav li a:visited {
  color: #ABA399;
}

header nav li a:hover {
  color: #666666;
}

header nav li a:active {
  color: #999;
}




/*Filters*/

#triangle-up {
  clear: both;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid #a7a399;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 253px;
}

#triangle-up-contact {
  clear: both;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid #a7a399;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 420px;
}

.bubble {
  clear:both;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #a7a399;
  margin-top: 0px;
  padding-top: 1px;
  margin-bottom: 20px;
}

.bubble button {
  float: left;
  display: inline;
  padding-right: 10px;
  color: #d6d6d6;
  font-size: 1.1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  background-color: transparent;
  outline: none;
}

.filter:hover {
  float: left;
  display: inline;
  padding-right: 10px;
  color: #666666;
  font-size: 1.1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  background-color: transparent;
  outline: none;
}

.filter:active {
  float: left;
  display: inline;
  padding-right: 10px;
  color: #666666;
  font-size: 1.1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  background-color: transparent;
  outline: none;
}

.filter.active {
  float: left;
  display: inline;
  padding-right: 10px;
  color: white;
  font-size: 1.1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  background-color: transparent;
  outline: none;
}

.bubble-contact {
  clear:both;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #a7a399;
  margin-top: 0px;
  padding-top: 1px;
  margin-bottom: 20px;
}

.bubble-contact li {
  float: left;
  display: inline;
  padding-right: 10px;
  color: white;
  font-size: 1.1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 8px;
}

.filters {
  margin-top: 7px;
  padding-left: 15px;
}




/*Portfolio projects*/

.project {
  clear: both;
  text-decoration: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.projectContent {
  clear: both;
  text-decoration: none;
  width: 100%;
  padding-right: 27px;
  margin: 0px;
}

.projectTitle {
  height: 35px;
  width: 100%;
  background-color: #f1f0ed;
  font-size: 1em;
  color: #999;
  border-radius: 5px;
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2, sans-serif;
  padding-left: 15px;
  padding-top: 3px;
  margin-bottom: 5px;
}

.descr {
  clear: both;
  float: left;
  width: 30%;
  font-size: .9em;
  color: #ABA399;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.slideshow {
  float: left;
  width: 65%;
  margin-left: 25px;
}

.slide {
  width: 100%;
}

.slick-prev:before, .slick-next:before {
  color: #a7a399;
  font-size: 20px;
}


/* Map for contact page */

#map {
  float: left;
  height: 400px;
  overflow: hidden;
  width: 65%;
}

#map iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* Responsize styles for smaller screens */

@media screen and (max-width: 700px) {

 
header h1 {
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2, sans-serif;
  height: 30px;
  float: left;
  display: inline;
  font-size: 1.5em;
  padding: 0px;
  margin-right: 65px;
  margin-bottom: 0px;
  color: #00AEEF;
}

header nav li {
  margin-top: 14px;
  font-size: 1.5em;
  display: inline;
  margin-right: 20px;
  margin-bottom: 0px;
}


.descr {
  clear: both;
  float: left;
  width: 100%;
  font-size: 1.4em;
  color: #ABA399;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.slideshow {
  float: left;
  width: 93%;
  margin-left: 35px;
}

header nav {
  clear: both;
}

#triangle-up {
  clear: both;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid #a7a399;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

#triangle-up-contact {
  clear: both;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid #a7a399;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 200px;
}

.bubble {
  clear:both;
  height: 260px;
  width: 100%;
  border-radius: 5px;
  background-color: #a7a399;
  margin-top: 0px;
  padding-top: 1px;
  margin-bottom: 20px;
}

.bubble button {
  clear: both;
  display: inline;
  padding-right: 10px;
  color: #d6d6d6;
  font-size: 1.1em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 8px;
  border: none;
  background-color: transparent;
  outline: none;
}



.filters {
  margin-top: 7px;
  padding-left: 15px;
}

.projectTitle {
  height: 45px;
  width: 100%;
  background-color: #f1f0ed;
  font-size: 1.4em;
  color: #999;
  border-radius: 5px;
  font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2, sans-serif;
  padding-left: 15px;
  padding-top: 3px;
  margin-bottom: 5px;
}
